<div id="navigation">
    {% if page.title == "工具网站链接及推荐博客" %}
    <h1>目录</h1>
    {% endif %}
    {% if page.title == "关于" %}
    <h1>关于我</h1>
    {% endif %}
    {% if page.title == "公共文件" %}
    <h1>文件目录</h1>
    {% endif %}
<!--    {% if page.title == "Python课程" %}-->
<!--    <h1>课程目录</h1>-->
<!--    {% endif %}-->
    {% if page.title != "工具网站链接及推荐博客" and page.title != "关于" and page.title != "公共文件" %}
    <h1>文章目录</h1>
    {% endif %}

    <ul class="nav sidenav">
    </ul>
    <div style="height: 200px;width: 200px;">
        <script type="text/javascript"
                src="//rf.revolvermaps.com/0/0/8.js?i={{ site.revolvermaps }}&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33"
                async="async">
        </script>
    </div>
</div>

